.login{
    font-family:Sono;
    background-color:bisque;
    margin-left:32.5%;
    margin-top:10%;
    max-width:30%;
    padding:50px;
    border-radius:50px;
    margin-bottom:10%;
}
.login > p{
    font-size:300%;
    color:rgb(194, 0, 0);
    text-align: center;
    font-weight:bold ;
}
.login > form {
    display:flex;
    flex-direction: column;
    font-size:150%;
}
.login > form > input {
    border-style:none;
    background-color: bisque;
    border-bottom:double;
    font-size:100%;
    margin-top:10px;
    margin-bottom:10px;
    outline:none;
}
.login button{
    font-size:100%;
}
.account-lacking{
    font-size:75%;
    display:flex;
    justify-content: space-between;
}