
.home_slideshow{
    background-color:rgb(226, 122, 122);
    overflow:hidden;
    height:800px;
    width:1200px;
    margin-left: 360px;
    margin-top:20px;
    /*background-attachment:fixed;*/
}
@-webkit-keyframes slide_animation{
    0%{left:0px;}
    10%{left :0px}
    20%{left: 1200px}
    30%{left:1200px}
    40%{left:2400px}
    50%{left:2400px}
    60%{left:1200px}
    70%{left:1200px}
    80%{left:0px}
    90%{left:0px}
    100%{left:0px}
}
.slide-images{
    width:3600px;
    height:800px;
    margin: 0 0 0 -2400px   ;
    position:relative;
    -webkit-animation-name:slide_animation;
    -webkit-animation-duration:33s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
}
.img-container{
    height:800px;
    width:1200px;
    position:relative;
    float:left; 
}
.top {
    background-color: white;
    display:flex;
    justify-content:space-between;
}
#searchbar {
    font-family:Sono;
    margin-top:2.5%;
    max-height:30px;
    font-size: 20px;
    width:25%;
    border-radius:30px;
}

  .Navbar a::after{
    content: '';
    display:block;
    height: 3px;
    background-color:rgba(214, 115, 115, 0.788);
    width:0%;
    transition: all ease-in-out 300ms;
    bottom:-3px;
}
.Navbar a:hover::after{
    width:100%
}
  .Navbar {
    background-color:rgb(226, 122, 122);
    overflow: hidden;
    color:whitesmoke;  
    font-family: Sono;
  }
  
  .Navbar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:500%;
    font-size:150%;
    text-decoration:none;
    color:white;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown #mainnav {
    font-size: 150%;  
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .Navbar a:hover, .dropdown:hover #mainnav {
    color:rgb(226, 122, 122);
    background-color: whitesmoke;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(226, 122, 122);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.bottom-page{
    color:whitesmoke;
    display:flex;
    justify-content:space-evenly;
    padding-top:10px;
    background-color:rgb(88, 79, 79)
}
.name{
    font-size:250%;
    font-family:Sono;
    font-weight:50px;

}
.bottext{
    font-size:150%;
    font-family:Sono;
}
.openinghours{
}
.bottom-page iframe{
    float:right;
    width:40%;
    border:0;
}
.moreinfolink{
    text-decoration: none;
}